# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Logs and databases
*.log
*.sqlite3
*.db
*.hdb
*.fdb
*.pdb

# IDE files
.vscode/
.idea/
*.pydevproject
*.project
*.settings/
*.tmproj
*.esproj
*.pycproject

# Miscellaneous
*.bak
*.swp
*.tmp
*.tmp.*
*.~*
*~
